node_modules
.env
.git
npm-debug.log*
images/tree.gif
images/birdan.gif
images/tree-animated-hq.webp
images/birdan-animated-hq.webp
images/tree-optimized.webp
images/birdan-optimized.webp
images/background.jpg
images/tree.png
images/tree-poster.webp
